body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}
.accueil {
    height: 300%;
    width: 200%;
    background: url(https://wp.kaoyip.edu.mo/new-balance-ms574-white-k.html);
  
  
}